body {
  /*display: flex;*/
  /*justify-content: center;*/
  /*width: 900px;*/
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('background.jpg');
  align-items: center;
  height: 1120px;
  /*width: 615px;*/
}

.game-area {
  display: flex;
  background-image: url('map.jpg');
  width: 615px;
  height: 403px;
  justify-content: center;
  align-items: center;
}

#myCanvas {
  /*border: 1px solid red;*/
  width: 459px;
  height: 249px;
}

#count-canvas {
  /*border: 1px solid red;*/
  align-self: flex-start;
  /*height: 70px;*/
}
