@font-face {
  font-family: :"triforce";
  src:url("./assets/Triforce.ttf");
}

body {
  font-family: "triforce";
}

.main {
  /*margin-top: 50px;*/
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #272833;
  align-items: center;
  height: 3000px;

}

.logo {
  margin-top: 25px;
  width: 300px;
  height: 150px;
}

.submain {
  /*margin-top: -0px;*/
  display: flex;
  flex-direction: row;
}

.score-audio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-audio button {
  height: 20px;
  align-self: flex-end;
}

.score-audio canvas {
  /*border: 1px solid red;*/
}

.game-area {
  display: flex;
  position: relative;
  background-image: url('map.jpg');
  width: 615px;
  height: 403px;
  justify-content: center;
  align-items: center;
}

.game-area canvas {
  position: absolute;
}

#myCanvas {
  width: 459px;
  height: 249px;
}

#screen-canvas {
  width: 615px;
  height: 403px;
}

#count-canvas {
  align-self: flex-start;
}

.left-div {
  margin-top: 56px;
  background-image: url('link-sidebar.png');
  background-size: cover;
  background-position: center;
  width: 220px;
  height: 398px;
}

.right-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  /*border: 1px solid red;*/
  width: 200px;
  height: 398px;
}

.right-div img {
  margin-top: 50px;
}

.wasd {
  /*border: 1px solid red;*/
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wasd h1 {
  color: #ffffff;
}

.wasd img {
  /*border: 1px solid red;*/
  height: 50px;
  width: 50px;
}

.top {
  margin-top: -70px;
  display: flex;
  justify-content: row;
}


.bottom {
  margin-top: -45px;
  display: flex;
  justify-content: row;
}

.arrows {
  /*border: 1px solid red;*/
  /*margin-top: -10px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrows img {
  width: 50px;
  height: 50px;
}

.arrows h1 {
  color: #ffffff;
}

.footer {
  /*border: 1px solid red;*/
  margin-top: 10px;
  width: 200px;
  height: 50px;
  display: flex;
}

.footer img {
  height: 35px;
  width: 40px;
  margin: 10px;
}


/* Give the player a height & width of 0. Otherwise the player is visible on mobile devices (tested on iPhone 5). */

#player {
  height: 0;
  width: 0
}
